<%- include('./partials/header')%>
    <h3>
        <%= user.username%> 👋
    </h3>
    <hr>
    <%= user._id%>
        <ol>

            <% user.todos.forEach(t=> { %>
                <li>
                    <%= t.title%> |
                        <%= t.description%> |
                            <a href="">delete</a> |
                            <a href="">update</a>
                            <% })%>
                </li>
        </ol>

        <%- include('./partials/footer')%>