<%- include('./partials/header')%>


  <form action="/todo/update/<%= data._id%>" method="POST" class="mt-5 container">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input value="<%= data.title%>" name="title" type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <input value="<%= data.description %>" name="description" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Update Todo</button>
  </form>




  <%- include('./partials/footer')%>